a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/myriadproregular/myriadproregular.eot");
  src: url("../fonts/myriadproregular/myriadproregular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/myriadproregular/myriadproregular.woff") format("woff"),
  url("../fonts/myriadproregular/myriadproregular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNeueLTPro-BdEx";
  src: url("../fonts/helveticaneueltpro-bdex.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNeueLTPro-ThEx";
  src: url("../fonts/helveticaneueltpro-thex.otf");
  font-style: normal;
  font-weight: normal;
}
.left { float: left; }
body {
  height: 100%;
  font: 10px/14px 'Tahoma', sans-serif;
  color: #093500;
}
ul, ol { list-style: url("../img/four-arrow.png") }
p, h1, h2, h3, h4, h5, h6, ul, ol {
  padding:0;
  margin: 0;
}
h3 {
  margin-bottom: 20px;
  font: 400 20px/14px "MyriadProRegular";
}
.thex {
  font-family: HelveticaNeueLTPro-ThEx, sans-serif;
  font-size: 32px;
  line-height: 14px;
  font-weight: 300;
}
.bdex {
  font-family: HelveticaNeueLTPro-BdEx, sans-serif;
  font-size: 32px;
  line-height: 14px;
}
.wrapper {
  margin: 0 auto;
  width: 775px;
}
.container {
  margin: 0 auto;
  width: 675px;
}
header {
  margin: 0 auto;
  height: 80px;
  background: url("../img/header.png");
}
.header {
  padding-top: 32px;
  padding-left: 34px;
  width: 100%;
  color: #fff;
}
nav {
  padding: 31px 0;
  float: left;
}
nav li {
  padding-left: 15px;
  margin-right: 43px;
  float: left;
}
nav li:first-child {
  padding-left: 35px;
  margin-right: 45px;
  list-style: none;
}
nav li:last-child { margin: 0; }
.nav-about {
  padding-left: 23px;
  white-space: nowrap
}
.nav-researchers { margin-right: 40px; }
.nav-services { margin-right: 50px; }
nav a {
  display: block;
  font: 400 20px/14px 'MyriadProRegular';
  color: #093500;
}
.content {
  position: relative;
  clear: both;
  height: 191px;
  background: #eeeefb url("../img/flask.png") left 17px bottom no-repeat;
}
.secondary-header {
  padding-top: 39px;
  padding-left: 270px;
  width: 100%
}
.bold-green {
  display: block;
  font-size: 11px;
  font-weight: 600;
  color: #80a60f;
}
.consetetur {
  position: absolute;
  left: 318px;
  top: 83px;
  width: 340px;
}
.consetetur p { margin-bottom: 10px; }
.div-container {
  margin-top: 20px;
  width: 675px;
  height: 242px;
}
.about-container {
  margin-top: 3px;
  margin-left: 27px;
  float: left;
  width: 231px;
  height: 242px;
  border-right: #eeeefb solid 1px;
}
.about-content { width: 211px; }
.about-content p { margin-bottom: 14px; }
.researchers {
  position: relative;
  left: 18px;
  float: right;
  width: 415px;
  height: 110px;
}
.services {
  position: relative;
  float: right;
  left: 18px;
  width: 415px;
  height: 127px;
  border-top: #eeeefb solid 1px;
}
.researchers-content {
  position: absolute;
  left: 162px;
  top: 3px;
  width: 230px;
}
.services-content {
  position: absolute;
  left: 162px;
  top: 19px;
  width: 230px;
}
.researchers img { margin-top: 2px; }
.services img { margin-top: 17px; }
footer {
  border-top: #eeeefb solid 5px;
}
footer p { padding: 24px 0 0 27px; }
