.object-table-width {
    width: 1010px;
    height: 100px;
    margin: 5px auto 20px;
    border-spacing: 5px;
}
.first-crop-table {
    width: 600px;
    height: 220px;
    margin: 0 auto 20px;
    border-spacing: 5px;
}
.second-crop-table {
    width: 600px;
    height: 400px;
    margin: 0 auto 20px;
    border-collapse: collapse;
}
.division-width {
    width: 230px;
}
.border-outset {
    border: 1px outset;
}
.border-inset {
    border: 1px inset;
}
.border-ridge {
    border-style: ridge;
}
.border-ridge-division {
    border: 4px ridge;
}
.text-bold {
    font-weight: bold;
}
.align-top {
    vertical-align: top;
}